



/* testimonials */

.testimonial-section {
    margin: 0 20px;
}

.flexbox-container-text {
    font-family: 'BenchNine', sans-serif;
    text-align: justify;
    max-width: 400px;
    margin-top: 15px;
}

.flexbox-container-picture {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    object-fit: cover;
}

/* Contact form */

.contact-form {
    margin-top: 20px;
    
}

.contact-form-heading{
    background-color: #e5e7ec;
    position:relative;
    width: 100vw;
    
}

.contact-form-heading1{
    position:relative;
    top: 15px; 
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    font-size: 1.3em;
    
}

.contact-form-heading2{
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
}

.form-element {
    display: block;
    margin: 5px auto;
    font-family: 'BenchNine', sans-serif;
    font-size: 1.3em;
    padding: 5px;
    width: 270px;
    
}

.form-text {
    font-family: 'BenchNine', sans-serif;
    font-size: 1.3em;
    padding: 5px;
    text-align: center;
    
}

.form-text-area {
    display: block;
    margin: 10px auto;
    font-family: 'BenchNine', sans-serif;
    font-size: 1.3em;
    width:90%; 
    max-width: 800px;
}

/* Footer */

footer {
    background-color: #e5e7ec;
    height:50px;
    position: fixed;
    bottom: 0;
    right: 0;
    }

footer div {
    text-align:center;
    padding-top:10px;
    }

.link-socmed {
    padding-left:5px;
    padding-right:5px;
    color:black;
    }

.link-socmed:hover {
    color: #949599;
    }

.copyright {position:absolute; 
    display:inline-block;
    right:5px; 
    bottom:0; 
    margin:0 auto;
    font-family: 'BenchNine', sans-serif;
    }